.mesh__cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mesh__cart-header_backButton,
.mesh__cart-header_title,
.mesh__cart-header_shoppingBag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.mesh__cart-header_shoppingBag {
    position: relative;
    width: 40px;
    height: 50px;
}

.mesh__cart-header_shoppingBag-bag {
    z-index: -2;
}

.mesh__cart-header_shoppingBag-quantity {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    z-index: -1;
}

.mesh__cart-header_items {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.03);
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    border-radius: 20px;
}